{% extends 'aplicacion1/index.html' %}


{% block botonescentrales %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    
                    {% block titulo %}
                    <h1 class="display-5 fw-bolder text-white mb-2">inicia sesion</h1>
                    
                    <p class="lead text-white-50 mb-4">aca estaria el login q aun no aprendimos</p>
                    {% endblock titulo %}
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock botonescentrales %}


{% block inicio %}
    
{% endblock inicio %}
    